/* 
.light-mode {
    --navbar-color :black;
    --navbar-bg-color:#D1BFC9;

} 
.light-mode {
    --navbar-color :black;
    --navbar-bg-color:#EDDA90;

} */


:root {
    --primary-color: #D1BFC9;
    --light-odd: #F3F2F1;
    --light-even: #e1e1e1;
    --dark: #2E4036;

    --spacing: 0.5rem;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-3: calc(var(--spacing) * 3);
    --spacing-4: calc(var(--spacing) * 4);

    --size-h1: 2.2rem;
    --size-h2: 2.9rem;
    --size-text: 0.9rem;
    --size-text-button: 0.8rem;

    --font-title:'IM Fell English', serif;
    --font-text: 'Arbutus Slab', serif;

    --height-header: calc(var(--spacing-4)*3);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--dark);
    background-color: var(--light-odd);
}

h1, h2 {
    font-family: var(--font-title);
}

h1 {
    font-size: var(--size-h1);
    margin: var(--spacing-2) 0;
    line-height: 50%;
}

h2 {
    font-size: var(--size-h2);
    margin: var(--spacing-2) 0 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}


/* ----------- HEADER / NAVBAR ---------- */

header {
    height: var(--height-header);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    height: 100%;
    color: var(--dark);
    position: relative;
}

.menulink>a {
    text-decoration: none;
    color: var(--dark);
}


ul.menulinks {
    list-style: none;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        top: 0px;
        right: 0px;
        position: absolute;
        margin: 0;
    }

    .menulink {
        transform: translateX(101%);
    }

    .showmenu .menulink {
        transform: translateX(0);
    }


    .showmenu .menulinks {
        width: 100%;
        transition: .5s ease;
        background: var(--primary-color);
        margin: 0;
        display: flex;
        z-index: 10;
    }

    .menulink>a {
        display: flex;
        padding: 1rem;
        font-size: 1.6rem;

    }

    /*.menulink > a:hover {
    padding-left:2rem;
    letter-spacing: 5px;
}*/

    /*Toggle menu */
    .burger {
        width: 40px;
        height: var(--spacing-4);
        border: none;
        background: transparent;
        cursor: pointer;
        position: relative;
        float: right;
        margin: var(--spacing-4) var(--spacing-4) 0 0;
        z-index: 11;
    }

    .bar {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background: var(--dark);
        border-radius: 3px;
        margin-right: 10px;
        transition: all .5s ease-in-out;
        top: 50%;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 40px;
        height: 4px;
        position: absolute;
        background: var(--dark);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    /* .showmenu .bar {
        width: 0;
        background-color: transparent;
    } */

    .showmenu .bar:before {
        transform: rotate(45deg);
    }

    .showmenu .bar:after {
        transform: rotate(-45deg);
    }

    .showmenu .bar{
        background-color: transparent;
    }


/* desktop , tablet */
/*@media  screen and (min-width:768px){
    .menulink >a:after{
        display:block;
        content:"";
        width: 0;
        height:1px;
        background:var(--navbar-bg-color) ;
    }
}*/


/* ----------- SECTION INTRO ---------- */


section.intro-section {
    padding-bottom: var(--spacing-4);
    z-index: 0;
    height: 100vh;
}

.intro-section .title-container {
    position: relative;
    height: fit-content;
}


/* ------- ANIMATED TITLE ------- */

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 50%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}


.animated-title>div {
    position: relative;
    overflow: hidden;
}

.animated-title>div div {
    position: absolute;
}

.animated-title>div.text-top {
    height: 100px;
    width: 220px;
    top: 0;
}

.animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.animated-title>div.text-bottom {
    height: 50px;
    bottom: 15px;
}

.animated-title>div.text-bottom div {
    animation: showBottomText 0.75s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}

/* ----------- TITLE BUTTON CONTENT ---------- */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: var(--spacing-4) auto;
    height: 2rem;
    border-radius: 0.6rem;
    font-size: var(--size-text-button);
    font-family: var(--font-text);
    background-color: var(--primary-color);
    color: var(--dark);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    border: none;
    transition: ease-in-out .5s;
}

/* ----------- SECTIONS CONTENT ---------- */
section {
    padding: 0 var(--spacing-4);
    min-height: 300px;
    height: fit-content;
    padding-top: 110px;
    box-sizing:border-box;
}
@media screen and (min-width: 768px) {
    section {
        padding-left:  10rem;
        padding-right: 10rem;
    }  
}

section:nth-of-type(even) {
    background-color: var(--light-even);
}

section .image-container {
    max-width: 20vh;
    display: flex;
    align-items: end;
}

section .image-container img {
    width: 100%;
    height: auto;
}

.resume-container p {
    margin: var(--spacing-2) 0;
    line-height: 1.3rem;  
}
.resume-container {
    padding-bottom: var(--spacing-4);
}

p.date {
    font-size: calc(var(--size-text)*1.3);
    margin: 0;
}

.extra-content {
    display: flex;
    flex-direction: column;
}
.article-content {
    line-height: 1.3rem;
}

.article-content p {
    padding: var(--spacing) 0;
}

/* ----------- BUTTON CONTENT ---------- */

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    position: absolute;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: var(--spacing-4) auto;
    height: 2rem;
    border-radius: 0.6rem;
    font-size: var(--size-text-button);
    font-family: var(--font-text);
    background-color: var(--primary-color);
    color: var(--dark);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    border: none;
    cursor: pointer;
    transition: ease-in-out .5s; 
    display: flex;   
    justify-content: center;
    align-items: center;
}
.button a:hover {
    color: var(--light-even);
    cursor: pointer;
}
.button:hover {
    background-color: var(--dark);
}
/*.button a {
    width: 100%;
    height: 100%;
}*/

input[type="checkbox"]:checked ~ .button {
    background-color: var(--dark);
    color: var(--light-even);
}
article {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}

input[type="checkbox"]:checked ~ article {
    max-height: 2000px;
}

